<script type="text/javascript" src="https://tvinci.github.io/webs/js/d3.js"></script>
<script type="text/javascript" src="https://rawgithub.com/jrideout/melt.js/master/melt.js"></script>
<script type="text/javascript" src="https://tvinci.github.io/webs/js/crossfilter.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.3/papaparse.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />

<script type="text/javascript">
    var CSV_file = "{{ '/assets/csv/cost-performance.csv' | relative_url }}";
</script>